@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css';

html {
  box-sizing: border-box;
}

* , *:before , *:after {
  box-sizing: inherit;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.header h1 {
  font-size: 1.7em;
  margin-left: 20px;
  align-self: center;
  color: white;
}

.trybewarts-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
}

body {
  height: 100vh;
  background: linear-gradient(0deg, rgb(179, 255, 171) 0%, rgb(18, 255, 247) 100%);
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#form-data {
  display: none;
  flex-flow: column wrap;
}

#trybewarts-forms-logo {
  height: 500px;
}

#family-div {
  margin-top: 15px;
  margin-bottom: 15px;
}

#content-learn {
  margin-top: 15px;
  margin-bottom: 15px;
}

#content-learn input {
  margin-left: 10px;
  margin-right: 3px;
}

select {
  width: 254px;
}